html{
	background-color: #1b1b1b;
}


h1{
	background-color: #424242;
	color: #ffffff;
	font-size: 18pt;
	padding: 10px;
	margin: 2px;
}

a{
	display: block;
	color: #1faa00;
	/*float: center;*/
	padding: 10px;
	font-size: 15pt;
}

.column{
	width: 33%;
	float: left;
}