html{
	background-color: #1b1b1b;
	background-image: url("images/stars.jpg");
	height: 100%;
	/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1, th{
	background-color: #424242;
	color: #ffffff;
	font-size: 18pt;
	padding: 1%;
	margin: 1%;
	height: 100%;
	text-align: center;
	opacity: 0.7;
}

.link{
	display: block;
	color: #ffffff;
	/*color: #1faa00;*/
	/*float: center;*/
	padding: 3%;
	font-size: 15pt;
	text-align: center;
}

.column{
	width: 33.2%;
	float: left;
	height: 100%;
}

.nav{
	float: left;
	background-color:#6d6d6d;
	font-size: 16pt;
	padding: 0.2%;
	margin: 0.2%;
	padding-top:1%;
	padding-bottom:1%;
	text-align: center;
	width: 49%;
	opacity: 0.8;
}

.nav a{
	color: #ffffff;
}

.imageLink{
	width: 32%;
	height: 32%;
	background-color:#046601;
	margin:.3%;
	padding:.2%;
	float:left;
}

td{
	/*background-color:#046601;*/
	background-color: #1b1b1b00;
	opacity: .5;
}

td:hover{
	background-color: #1b1b1b;
}

.twocol{
	width: 50%;
}

.twocol .link{
	padding: 20%;
}

.threecol .link{
	height: 100%;
	/*line-height: 100px;*/
	padding: 20%;
}
