html{
	background-color: #1b1b1b;
	background-image: url("images/stars.jpg");
	height: 100%;
	/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, open-sans;
}



#titleGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1%;
}

.titleElement{
	background-color: #424242;
	color: #ffffff;
	font-size: 22pt;
	text-align: center;
	margin-bottom: 3%;
	opacity: .5;
	padding: 1%;
}

#mainGrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.innerGrid{
	display: grid;
	height: 50vh;
	align-items: center;
	justify-items: center;
}

#googleGrid{
	grid: repeat(2,1fr)/repeat(2,1fr);
}

#schoolGrid{
	grid: repeat(3,1fr)/repeat(3,1fr);
}

#funGrid{
	grid: repeat(3,1fr)/repeat(2,1fr);
}


.link{
	display: block;
	color: #ffffff;
	/*color: #1faa00;*/
	/*float: center;*/
	padding: 20%;
	font-size: 15pt;
	border-radius: 5%;
	opacity: .5;
	text-decoration: none;
}

.link:hover{
	background-color: #1b1b1b;
	transform: scale(1.2);
}